    <h1>Add a new item</h1>


<form action="/insert_item" method="post">

  <div>
    <label for="Link_URL">
      Link URL
    </label>

    <input id="Link_URL" type="text" name="link_url" placeholder="Enter a URL...">
  </div>

  <div>
    <label for="Link_Description">
      Link Description
    </label>

    <input id="Link_Description" type="text" name="Description" placeholder="Enter a link description.">
  </div>

  <div>
    <label for="Thumbnail_URL">
      Thumbnail URL
    </label>

    <input id="Thumbnail_URL" type="text" name="thumb_url" placeholder="Enter a thumbnail URL.">
  </div>

  <button>
    Create item 
  </button>


</form>
